<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Добро пожаловать на MarsTracker, <%= @user.name %></h1>
<p>
  Вы успешно зарегистрировались в системе и будете (теоретически) получать рассылку с новостями и обновлениями о ходе проектов MarsOne и SpaceX.<br>
</p>
<p>
  Спасибо за тестирование проекта по ИПС на ФИВТе!
</p>
</body>
</html>